@page
@model BookStore.Pages.Admin.Categories.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Admin.cshtml";
}

<h1 style="text-align:center">Sửa Danh Mục</h1>
<hr />
<div class="row justify-content-center" style="display:flex; align-items:center;">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Category.CategoryId" />
            <div class="form-group">
                <label class="control-label">Tên Danh Mục</label>
                <input asp-for="Category.CategoryName" class="form-control" />
                <span asp-validation-for="Category.CategoryName" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group justify-content-center" style="display:flex; align-items:center; margin-bottom:10px">
                <a class="btn btn-outline-secondary" asp-page="./Index">< Quay lại</a>&nbsp;
                <input type="submit" value="Lưu" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
