@page
@model BookStore.Pages.Admin.Books.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Admin.cshtml";
}

<h1 style="text-align:center">Thêm Sách Mới</h1>
<hr />

<div class="row" style="display:flex; align-items:center;">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Tên Sách</label>
                <input asp-for="Book.BookName" class="form-control" placeholder="Nhập tên sách"/>
                <span asp-validation-for="Book.BookName" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label class="control-label">Bìa Sách</label>
                <input asp-for="Book.Cover" type="file" class="form-control" />
                <span asp-validation-for="Book.Cover" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Tác Giả</label>
                <input asp-for="Book.Author" class="form-control" placeholder="Nhập tên tác giả" />
                <span asp-validation-for="Book.Author" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Giá Sách</label>
                <input asp-for="Book.Price" class="form-control" placeholder="Nhập giá cả của sách" />
                <span asp-validation-for="Book.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Mô tả</label>
                <textarea asp-for="Book.Description" length="20000" class="form-control" placeholder="Nhập mô tả" ></textarea>
                <span asp-validation-for="Book.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Số Lượng (1 - 100)</label>
                <input asp-for="Book.Quantity" class="form-control" placeholder="Nhập số lượng sách" />
                <span asp-validation-for="Book.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nhà Xuất Bản</label>
                <select asp-for="Book.PublisherId" class ="form-control" asp-items="ViewBag.PublisherId">
                    <option disabled selected hidden value="0">- Chọn Nhà xuất bản -</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Danh Mục</label>
                <select class="form-control" asp-items="ViewBag.CategoryId">
                    <option disabled selected hidden value="0">- Chọn Danh mục con -</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Danh Mục Con</label>
                <select asp-for="Book.SubCategoryId" class ="form-control" asp-items="ViewBag.SubCategoryId">
                    <option disabled selected hidden value="0">- Chọn Danh mục con -</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
