@page
@model BookStore.Pages.Admin.Books.EditModel

@{
	ViewData["Title"] = "Edit";
	Layout = "~/Pages/Shared/_Admin.cshtml";
}

<h1 style="text-align:center">Sửa Thông Tin Sách</h1>

<form method="post" enctype="multipart/form-data">
	<div class="row justify-content-center" style="display:flex; align-items:center;">
		<div class="col-md-4" style="float:left; margin-right: 100px">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Book.BookId" />
			<div class="form-group">
				<label class="control-label">Tên Sách</label>
				<input asp-for="Book.BookName" class="form-control" required />
				<span asp-validation-for="Book.BookName" class="text-danger"></span>
			</div>
			<br />
			<div class="form-group">
				<label class="control-label">Bìa Sách</label>
				<input asp-for="Book.Cover" class="form-control" />
				<span asp-validation-for="Book.Cover" class="text-danger"></span>
			</div>
			<br />
			<div class="form-group">
				<label class="control-label">Tác Giả</label>
				<input asp-for="Book.Author" class="form-control" required />
				<span asp-validation-for="Book.Author" class="text-danger"></span>
			</div>
			<br />
			<div class="form-group">
				<label class="control-label">Giá Sách</label>
				<input asp-for="Book.Price" class="form-control" required />
				<span asp-validation-for="Book.Price" class="text-danger"></span>
			</div>
			<br />
			<div class="form-group">
				<label class="control-label">Số Lượng (1 - 100)</label>
				<input asp-for="Book.Quantity" class="form-control" min="1" max="100" required />
				<span asp-validation-for="Book.Quantity" class="text-danger"></span>
			</div>
			<br />
		</div>
		<div class="col-md-4" style="float:right">
			<div class="form-group">
				<label class="control-label">Nhà Xuất Bản</label>
				<select asp-for="Book.PublisherId" class="form-control" asp-items="ViewBag.PublisherId" required></select>
				<span asp-validation-for="Book.PublisherId" class="text-danger"></span>
			</div>
			<br />
			<div class="form-group">
				<label class="control-label">Danh Mục Con</label>
				<select asp-for="Book.SubCategoryId" class="form-control" asp-items="ViewBag.SubCategoryId" required></select>
				<span asp-validation-for="Book.SubCategoryId" class="text-danger"></span>
			</div>
			<br />
			<div class="form-group">
				<label class="control-label">Mô tả</label>
				<textarea asp-for="Book.Description" class="form-control" length="20000" style="height:208px"></textarea>
				<span asp-validation-for="Book.Description" class="text-danger"></span>
			</div>
			<br />
		</div>
		<div class="form-group justify-content-center" style="display:flex; align-items:center; margin-bottom:10px">
			<a class="btn btn-outline-secondary" asp-page="./Index">< Quay lại</a>&nbsp;
			<input type="submit" value="Lưu" class="btn btn-outline-success" />
		</div>
	</div>
	</div>
</form>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
